img {
  margin-top: 10px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(139, 27, 27, 0.6);
  box-shadow: 0px 2px 6px 0px black;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 10px;
  text-align: center;
  align-self: center;
}

ul > li > a.link {
  /* display: inline-block; */
  width: 100%;
  justify-self: center;
  text-align: center;
  display: block;
  padding-bottom: 4px;
  text-decoration: none;
  color: #f8eee2;
}

li {
  list-style: none;
  padding-right: 1rem;
  font-size: 1rem;
  padding-right: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.toggle {
  position: absolute;
  top: 2rem;
  right: 4em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 21px;
}

.toggle .bar {
  width: 100%;
  height: 5px;
  background-color: blanchedalmond;
  border-radius: 10px;
}

a.link:hover {
  border-bottom: 3px solid white;
  /* transition: ease-in-out 1s; */
}

@media all and (max-width: 600px) {
  .toggle {
    display: flex;
  }

  ul li a.link {
    text-align: center;
    margin-right: 0px;
  }

  a.link:hover {
    border-bottom: 2px solid white;
  }

  ul li a.link:hover {
    border-bottom: none;
    /* background-color: rgba(139, 27, 27,.8); */
    box-shadow: 1px 1px 5px 0px #302d2d;
    font-size: 1.0625rem;
  }

  .navigation {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-right: 0;
  }

  .sound_logo {
    margin-left: 50px;
  }

  ul {
    width: 100%;
    flex-direction: column;
    line-height: 28px;
  }

  ul li {
    text-align: center;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links.active {
    display: flex;
  }
}
@media all and (max-width: 450px) {
  img.logo-text {
    width: 80%;
  }

  .sound-logo {
    width: 50%;
  }
}
div.adss {
  border-bottom: 2px solid red;
  border-left: 2px solid red;
  width: max-content;
  margin-left: 10px;
}
div.adss .ads {
  color: yellow;
  width: 100%;
  display: inline-block;
  font-size: 2rem;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 0;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.sound_logo {
  height: 65px;
  width: 65px;
}

.logo-text {
  margin-top: -70px;
}

#front-page {
  background: url(soundzt-images/background1.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo2 {
  text-align: center;
  margin-top: 9rem;
}

h1 {
  font-size: 500%;
  margin-bottom: 0;
}

.motto {
  font-weight: bolder;
  margin-top: 0;
}

.download {
  margin-top: 3rem;
  padding: 1.25rem;
  color: white;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: #8b1616;
}

.subscribe {
  line-height: 5px;
  margin-top: 60px;
}
.subscribe p:nth-child(1) {
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 23px;
  color: honeydew;
}
.subscribe input {
  padding: 10px;
}
.subscribe .sub_box {
  width: 300px;
  background-color: blanchedalmond;
  border: none;
  color: black;
}
.subscribe .sub2 {
  background-color: #8b1616;
  opacity: 0.8;
  color: honeydew;
  border: none;
  letter-spacing: 0.6px;
}

.footer {
  display: grid;
  text-transform: capitalize;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  background-color: #8b1616;
  color: white;
  box-shadow: 0px 0px 2px 0.2px black;
}
.footer div {
  margin: 0px 0px 10px 0px;
}
.footer hr {
  width: 400%;
  outline-color: chartreuse;
}
.footer p {
  font-weight: bold;
}

.sell {
  display: flex;
  flex-basis: 0.8;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin: 0;
  margin-bottom: 60px;
}
.sell .set {
  text-align: center;
  margin-top: 15px;
  font-size: 1rem;
  width: 9rem;
}
.sell .icon {
  font-size: 73px;
  border: 0.3px solid #8b1616;
  padding: 20px 0px 20px 0px;
  border-radius: 50%;
  color: #8b1616;
  opacity: 0.9;
}

.second {
  text-align: center;
  height: 80vh;
  margin-top: 70px;
}
.second h2 {
  font-size: 2.45rem;
  margin: 10px 10px 0px 1px;
}
.second hr {
  width: 5rem;
  margin-bottom: 2rem;
}

.third {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  text-align: center;
}
.third div {
  position: relative;
}
.third img {
  width: 20rem;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
  background-size: cover;
}
.third p {
  position: absolute;
  top: 50%;
  left: 0%;
  right: 0%;
  color: white;
  font-size: 1.12rem;
  font-weight: bolder;
}